<?xml version="1.0" ?>
<launch>
	<arg name="sim" default="true" />

	<group if="$(arg sim)">

	</group>
	<group unless="$(arg sim)">
		<!-- UR5 driver -->
		<include file="$(find arm_operation)/launch/ur5_real.launch">
		    <arg name="robot_ip" default="192.168.1.9" />
		    <arg name="tool_length" default="0.15"/>
		</include>
		<!-- robotiq 2-finger gripper -->
		<node name="robotiq2FGripper" pkg="robotiq_2f_gripper_control" type="Robotiq2FGripperRtuNode.py"  args="/dev/ttyGripper" required="true"/>

		<node pkg="tf" type="static_transform_publisher" name="cam_publisher" args="0.032378 -0.019758 0.082010 -0.007896 0.070971 -0.000365 0.997447  ee_link camera_link  100"/>

	</group>

</launch>
